In [15]:
#Real python
import pandas as pd
data = {'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
        'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
              'Manchester', 'Cairo', 'Osaka'],
        'age': [41, 28, 33, 34, 38, 31, 37],
        'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]}

row_labels = [101, 102, 103, 104, 105, 106, 107]
data

{'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
 'city': ['Mexico City',
  'Toronto',
  'Prague',
  'Shanghai',
  'Manchester',
  'Cairo',
  'Osaka'],
 'age': [41, 28, 33, 34, 38, 31, 37],
 'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]}

In [27]:
df = pd.DataFrame(data=data, index=row_labels)
df

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

In [31]:
df.head(n=2)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0

In [33]:
df.tail(n=2)

     name   city  age  py-score
106  Amal  Cairo   31      61.0
107  Nori  Osaka   37      84.0

In [37]:
cities= df['city']
cities

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [39]:
df.loc[103]

name          Jana
city        Prague
age             33
py-score      81.0
Name: 103, dtype: object

In [7]:
import numpy as np
import pandas as pd
d = {'x': [1, 2, 3], 'y': np.array([2, 4, 8]), 'z': 100}
pd.DataFrame(d)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [9]:
pd.DataFrame(d, index=[100, 200, 300], columns=['z', 'y', 'x'])

       z  y  x
100  100  2  1
200  100  4  2
300  100  8  3

In [25]:
l= [{'x': 1, 'y': 2, 'z': 100},
     {'x': 2, 'y': 4, 'z': 100},
     {'x': 3, 'y': 8, 'z': 100}]

pd.DataFrame(l, columns=['x', 'y', 'z'])

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [27]:
l = [[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]]

pd.DataFrame(l, columns=['x', 'y', 'z'])

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [36]:
arr = np.array([[1, 2, 100],
              [2, 4, 100],
              [3, 8, 100]])

df = pd.DataFrame(arr, columns=['x','y','z'])
df

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [38]:
arr[0, 0] = 1000

df

      x  y    z
0  1000  2  100
1     2  4  100
2     3  8  100

In [40]:
df1=pd.read_csv("data health.csv")
df1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [46]:
df1.index

RangeIndex(start=0, stop=169, step=1)

In [50]:
df1.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [54]:
df1.to_numpy()

array([[  60. ,  110. ,  130. ,  409.1],
       [  60. ,  117. ,  145. ,  479. ],
       [  60. ,  103. ,  135. ,  340. ],
       [  45. ,  109. ,  175. ,  282.4],
       [  45. ,  117. ,  148. ,  406. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  110. ,  136. ,  374. ],
       [  45. ,  104. ,  134. ,  253.3],
       [  30. ,  109. ,  133. ,  195.1],
       [  60. ,   98. ,  124. ,  269. ],
       [  60. ,  103. ,  147. ,  329.3],
       [  60. ,  100. ,  120. ,  250.7],
       [  60. ,  106. ,  128. ,  345.3],
       [  60. ,  104. ,  132. ,  379.3],
       [  60. ,   98. ,  123. ,  275. ],
       [  60. ,   98. ,  120. ,  215.2],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,   90. ,  112. ,    nan],
       [  60. ,  103. ,  123. ,  323. ],
       [  45. ,   97. ,  125. ,  243. ],
       [  60. ,  108. ,  131. ,  364.2],
       [  45. ,  100. ,  119. ,  282. ],
       [  60. ,  130. ,  101. ,  300. ],
       [  45. ,  105. ,  132. ,  246. ],
       [  60. ,  102. ,  126. ,  334.5],
       [  60. ,  100. ,  120. ,  250. ],
       [  60. ,   92. ,  118. ,  241. ],
       [  60. ,  103. ,  132. ,    nan],
       [  60. ,  100. ,  132. ,  280. ],
       [  60. ,  102. ,  129. ,  380.3],
       [  60. ,   92. ,  115. ,  243. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,  101. ,  124. ,  299. ],
       [  60. ,   93. ,  113. ,  223. ],
       [  60. ,  107. ,  136. ,  361. ],
       [  60. ,  114. ,  140. ,  415. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,  104. ,  129. ,  266. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,   98. ,  126. ,  286. ],
       [  60. ,  100. ,  122. ,  329.4],
       [  60. ,  111. ,  138. ,  400. ],
       [  60. ,  111. ,  131. ,  397. ],
       [  60. ,   99. ,  119. ,  273. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  45. ,  111. ,  136. ,  300. ],
       [  45. ,  108. ,  129. ,  298. ],
       [  60. ,  111. ,  139. ,  397.6],
       [  60. ,  107. ,  136. ,  380.2],
       [  80. ,  123. ,  146. ,  643.1],
       [  60. ,  106. ,  130. ,  263. ],
       [  60. ,  118. ,  151. ,  486. ],
       [  30. ,  136. ,  175. ,  238. ],
       [  60. ,  121. ,  146. ,  450.7],
       [  60. ,  118. ,  121. ,  413. ],
       [  45. ,  115. ,  144. ,  305. ],
       [  20. ,  153. ,  172. ,  226.4],
       [  45. ,  123. ,  152. ,  321. ],
       [ 210. ,  108. ,  160. , 1376. ],
       [ 160. ,  110. ,  137. , 1034.4],
       [ 160. ,  109. ,  135. ,  853. ],
       [  45. ,  118. ,  141. ,  341. ],
       [  20. ,  110. ,  130. ,  131.4],
       [ 180. ,   90. ,  130. ,  800.4],
       [ 150. ,  105. ,  135. ,  873.4],
       [ 150. ,  107. ,  130. ,  816. ],
       [  20. ,  106. ,  136. ,  110.4],
       [ 300. ,  108. ,  143. , 1500.2],
       [ 150. ,   97. ,  129. , 1115. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  90. ,  100. ,  127. ,  700. ],
       [ 150. ,   97. ,  127. ,  953.2],
       [  45. ,  114. ,  146. ,  304. ],
       [  90. ,   98. ,  125. ,  563.2],
       [  45. ,  105. ,  134. ,  251. ],
       [  45. ,  110. ,  141. ,  300. ],
       [ 120. ,  100. ,  130. ,  500.4],
       [ 270. ,  100. ,  131. , 1729. ],
       [  30. ,  159. ,  182. ,  319.2],
       [  45. ,  149. ,  169. ,  344. ],
       [  30. ,  103. ,  139. ,  151.1],
       [ 120. ,  100. ,  130. ,  500. ],
       [  45. ,  100. ,  120. ,  225.3],
       [  30. ,  151. ,  170. ,  300. ],
       [  45. ,  102. ,  136. ,  234. ],
       [ 120. ,  100. ,  157. , 1000.1],
       [  45. ,  129. ,  103. ,  242. ],
       [  20. ,   83. ,  107. ,   50.3],
       [ 180. ,  101. ,  127. ,  600.1],
       [  45. ,  107. ,  137. ,    nan],
       [  30. ,   90. ,  107. ,  105.3],
       [  15. ,   80. ,  100. ,   50.5],
       [  20. ,  150. ,  171. ,  127.4],
       [  20. ,  151. ,  168. ,  229.4],
       [  30. ,   95. ,  128. ,  128.2],
       [  25. ,  152. ,  168. ,  244.2],
       [  30. ,  109. ,  131. ,  188.2],
       [  90. ,   93. ,  124. ,  604.1],
       [  20. ,   95. ,  112. ,   77.7],
       [  90. ,   90. ,  110. ,  500. ],
       [  90. ,   90. ,  100. ,  500. ],
       [  90. ,   90. ,  100. ,  500.4],
       [  30. ,   92. ,  108. ,   92.7],
       [  30. ,   93. ,  128. ,  124. ],
       [ 180. ,   90. ,  120. ,  800.3],
       [  30. ,   90. ,  120. ,   86.2],
       [  90. ,   90. ,  120. ,  500.3],
       [ 210. ,  137. ,  184. , 1860.4],
       [  60. ,  102. ,  124. ,  325.2],
       [  45. ,  107. ,  124. ,  275. ],
       [  15. ,  124. ,  139. ,  124.2],
       [  45. ,  100. ,  120. ,  225.3],
       [  60. ,  108. ,  131. ,  367.6],
       [  60. ,  108. ,  151. ,  351.7],
       [  60. ,  116. ,  141. ,  443. ],
       [  60. ,   97. ,  122. ,  277.4],
       [  60. ,  105. ,  125. ,    nan],
       [  60. ,  103. ,  124. ,  332.7],
       [  30. ,  112. ,  137. ,  193.9],
       [  45. ,  100. ,  120. ,  100.7],
       [  60. ,  119. ,  169. ,  336.7],
       [  60. ,  107. ,  127. ,  344.9],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   98. ,  122. ,  271. ],
       [  60. ,   97. ,  124. ,  275.3],
       [  60. ,  109. ,  127. ,  382. ],
       [  90. ,   99. ,  125. ,  466.4],
       [  60. ,  114. ,  151. ,  384. ],
       [  60. ,  104. ,  134. ,  342.5],
       [  60. ,  107. ,  138. ,  357.5],
       [  60. ,  103. ,  133. ,  335. ],
       [  60. ,  106. ,  132. ,  327.5],
       [  60. ,  103. ,  136. ,  339. ],
       [  20. ,  136. ,  156. ,  189. ],
       [  45. ,  117. ,  143. ,  317.7],
       [  45. ,  115. ,  137. ,  318. ],
       [  45. ,  113. ,  138. ,  308. ],
       [  20. ,  141. ,  162. ,  222.4],
       [  60. ,  108. ,  135. ,  390. ],
       [  60. ,   97. ,  127. ,    nan],
       [  45. ,  100. ,  120. ,  250.4],
       [  45. ,  122. ,  149. ,  335.4],
       [  60. ,  136. ,  170. ,  470.2],
       [  45. ,  106. ,  126. ,  270.8],
       [  60. ,  107. ,  136. ,  400. ],
       [  60. ,  112. ,  146. ,  361.9],
       [  30. ,  103. ,  127. ,  185. ],
       [  60. ,  110. ,  150. ,  409.4],
       [  60. ,  106. ,  134. ,  343. ],
       [  60. ,  109. ,  129. ,  353.2],
       [  60. ,  109. ,  138. ,  374. ],
       [  30. ,  150. ,  167. ,  275.8],
       [  60. ,  105. ,  128. ,  328. ],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   97. ,  131. ,  270.4],
       [  60. ,  100. ,  120. ,  270.4],
       [  60. ,  114. ,  150. ,  382.8],
       [  30. ,   80. ,  120. ,  240.9],
       [  30. ,   85. ,  120. ,  250.4],
       [  45. ,   90. ,  130. ,  260.4],
       [  45. ,   95. ,  130. ,  270. ],
       [  45. ,  100. ,  140. ,  280.9],
       [  60. ,  105. ,  140. ,  290.8],
       [  60. ,  110. ,  145. ,  300. ],
       [  60. ,  115. ,  145. ,  310.2],
       [  75. ,  120. ,  150. ,  320.4],
       [  75. ,  125. ,  150. ,  330.4]])

In [56]:
df1.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [58]:
df1.ndim

2

In [60]:
df.shape

(3, 3)

In [62]:
df1.size

676

In [64]:
df1.memory_usage()

Index        132
Duration    1352
Pulse       1352
Maxpulse    1352
Calories    1352
dtype: int64

In [70]:
df1['Duration']

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [76]:
df1.loc[10]

Duration     60.0
Pulse       103.0
Maxpulse    147.0
Calories    329.3
Name: 10, dtype: float64

In [78]:
df1.iloc[10]

Duration     60.0
Pulse       103.0
Maxpulse    147.0
Calories    329.3
Name: 10, dtype: float64

In [80]:
df1.loc[:, "Duration"]

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [82]:
df1.iloc[:, 1]

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [88]:
df1.loc[11:15,['Pulse','Maxpulse']]

    Pulse  Maxpulse
11    100       120
12    106       128
13    104       132
14     98       123
15     98       120

In [96]:
df1.iloc[1:6, [0, 2]]

   Duration  Maxpulse
1        60       145
2        60       135
3        45       175
4        45       148
5        60       127

In [98]:
df1.iloc[1:6:2,0]

1    60
3    45
5    60
Name: Duration, dtype: int64

In [100]:
df1.iloc[slice(1,6,2),0]

1    60
3    45
5    60
Name: Duration, dtype: int64

In [102]:
df1.at[12,"Duration"]

60

In [104]:
df1.loc[:,"Calories"]

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [116]:
df=pd.Series(data=['John', 'Boston',34,79],
               index=df.columns, name=17)
john

ValueError: Length of values (4) does not match length of index (3)